/* custom styles */
.fs-xs {
    font-size: 0.5rem;
}
.fs-sm {
    font-size: 0.75rem;
}

.loading {
    opacity: 0;
}

#home {
    transition: opacity linear 0.5s
}

/* bootstrap overrides */
.input-group .btn:focus,
.input-group .btn:not(:disabled):not(.disabled).active:focus,
.input-group .btn:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}
.btn-outline-secondary {
    color: #495057;
    border-color: #ced4da;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:not(:disabled):not(.disabled):active {
    color: #495057;
    border-color: #ced4da;
    background-color: #e9ecef;
}

/* select2 overrides */
.select2-container .select2-selection--single {
    height: calc(1.5em + .75rem + 2px);
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: calc(1.5em + .75rem);
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: calc(1.5em + .75rem);
}
.select2-container--default .select2-selection--multiple {
    border-color: #ced4da;
}
.select2-container--default .select2-search--inline .select2-search__field {
    padding: 0 calc(.75rem - 5px);
}
.select2-dropdown,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #80bdff;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}
.select2-dropdown {
    clip-path: inset(0 -8px -8px -8px);
}
.select2-container--default.select2-container--focus.select2-container--open .select2-selection--multiple {
    clip-path: inset(-8px -8px 0 -8px);
}
